[Desktop Entry]
Encoding=UTF-8
Name=Link to assignment1.zip assignment1.zip
Type=Link
URL=https://moodle.umass.edu/mod/assign/view.php#
Icon=text-html
